<figure>
  <p>
  {% if {{include.url}} %}
  <a class="no_icon mx-auto d-block"
     href="{{include.url}}"
     {% if {{include.lightbox}} %}
     data-toggle="lightbox" data-type="image"
     {% endif %}
     {% if {{include.max-width}}%}style="max-width: {{include.max-width}}" {% endif %}
  >
  {% endif %}
  <img class="img-thumbnail"
       src="{{include.file}}"
       alt="{{include.alt}}"
  />
       {% if {{include.url}} %}
  </a>
  {% endif %}
  </p>
  {% if {{include.caption}} %}
  <figcaption class="text-center">{{include.caption}}</figcaption>
  {% endif %}
</figure>
