// Local docs variables
$bd-white:         #fff !default;
$bd-black:         #000 !default;

$bd-purple:        #563d7c !default;
$bd-purple-bright: lighten(saturate($bd-purple, 5%), 15%) !default;
$bd-purple-light:  lighten(saturate($bd-purple, 5%), 45%) !default;
$bd-dark:          #231f20 !default;
$bd-download:      #ffe484 !default;
$bd-info:          #5bc0de !default;
$bd-warning:       #f0ad4e !default;
$bd-danger:        #d9534f !default;
$bd-success:       #11b5a4 !default;

$bd-topaz-extra-light:    #e4f3f1 !default;

$bd-topaz-main:    #11b5a4 !default;
$bd-topaz-bright: lighten(saturate($bd-topaz-main, 5%), 15%) !default;
$bd-topaz-light:  lighten(saturate($bd-topaz-main, 5%), 45%) !default;
$bd-topaz-dark:    rgb(11, 111, 99) !default;

$bd-greenish-blue: #2a897d;

// Navbar colors
$bd-topaz-navbar-g1: #0f9c8d;
$bd-topaz-navbar-g2: #11b5a4;
$bd-topaz-navbar-g3: #4ebbd3;

$cf-navbar-link-color: $bd-white;

$bd-bulb-white:      $bd-white;
$bd-bulb-red:        #ca2133;

$btn-get-started:   #235f5d;

// Doc Sidebar colors
$bd-doc-sidebar-link: $bd-black;
$bd-doc-sidebar-link-active: $bd-topaz-main;

// Doc Content
$bd-doc-content-bg: #f7f7f7;
$bd-doc-content-border: #dadada;

// Links
//
// Style anchor elements.

$bd-link-color:                $bd-topaz-main !default;
$bd-link-hover-color:          darken($bd-link-color, 15%) !default;
